<!DOCTYPE html>
<html>
<head>


  <style>

    .im2:hover {
      background-color: moccasin;
    }

    .head th {
      border: 3px solid white;
    }

    table,tr,td {
      border: 1px solid black;
    }


  </style>





  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>

  <div class="  container-fluid bg-dark p-1 " style="width:90%;background-color;black;">


    <div style="background-color:midnightblue;height:60px" class="">

      <a href="/"> <img src="/logolive.png" width="100px"> </a>
    </div>

    <br>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"> Sports</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <hr>


          <ul class="navbar-nav mb-2">

            <li class="nav-item im2">

              <a class="nav-link  active" aria-current="page" href="/">  <p>
                <img class=" d-block mx-auto" src="/home.png" width="40px" height="35px">
                <span class="imt text-center d-block">
                  All Categories
                </span>
              </p>
              </a>
            </li>


            <li class="nav-item im2">

              <a class="nav-link  active" aria-current="page" href="/0">  <p>
                <img class=" d-block mx-auto" src="/1.png" width="40px" height="35px">
                <span class="imt text-center d-block">
                  CRICKET
                </span>
              </p>
              </a>
            </li>



            <li class="nav-item im2">

              <a class="nav-link  active" aria-current="page" href="/1">  <p>
                <img class=" d-block mx-auto" src="/2-1.png" width="40px" height="35px">
                <span class="imt text-center d-block">
                  FOOTBALL
                </span>
              </p>
              </a>
            </li>


            <li class="nav-item im2">

              <a class="nav-link  active" aria-current="page" href="/2">  <p>
                <img class=" d-block mx-auto" src="/4.jpg" width="40px" height="35px">
                <span class="imt text-center d-block">
                  A.FOOTBALL
                </span>
              </p>
              </a>
            </li>




            <li class="nav-item im2">

              <a class="nav-link  active" aria-current="page" href="/3">  <p>
                <img class=" d-block mx-auto" src="/5.png" width="40px" height="35px">
                <span class="imt text-center d-block">
                  TENNIS
                </span>
              </p>
              </a>
            </li>




            <li class="nav-item im2">

              <a class="nav-link  active" aria-current="page" href="/4">  <p>
                <img class=" d-block mx-auto" src="/6.png" width="40px" height="35px">
                <span class="imt text-center d-block">
                  MOTORS
                </span>
              </p>
              </a>
            </li>



            <li class="nav-item im2">

              <a class="nav-link  active" aria-current="page" href="/5">  <p>
                <img class=" d-block mx-auto" src="/7.jpg" width="40px" height="35px">
                <span class="imt text-center d-block">
                  RUGBY
                </span>
              </p>
              </a>
            </li>




            <li class="nav-item im2">

              <a class="nav-link  active" aria-current="page" href="/6">  <p>
                <img class=" d-block mx-auto" src="/8.jpg" width="40px" height="35px">
                <span class="imt text-center d-block">
                  BASKETBALL
                </span>
              </p>
              </a>
            </li>




            <li class="nav-item im2">

              <a class="nav-link  active" aria-current="page" href="/7">  <p>
                <img class=" d-block mx-auto" src="/9.png" width="40px" height="35px">
                <span class="imt text-center d-block">
                  WWE
                </span>
              </p>
              </a>
            </li>


            <li class="nav-item im2">

              <a class="nav-link  active" aria-current="page" href="/8">  <p>
                <img class=" d-block mx-auto" src="/10.png" width="40px" height="35px">
                <span class="imt text-center d-block">
                  UFC
                </span>
              </p>
              </a>
            </li>


            <li class="nav-item im2">

              <a class="nav-link  active" aria-current="page" href="/9">  <p>
                <img class=" d-block mx-auto" src="/11.png" width="40px" height="35px">
                <span class="imt text-center d-block">
                  BOXING
                </span>
              </p>
              </a>
            </li>


            <li class="nav-item im2">

              <a class="nav-link  active" aria-current="page" href="/10">  <p>
                <img class=" d-block mx-auto" src="/12.png" width="40px" height="35px">
                <span class="imt text-center d-block">
                  GOLF
                </span>
              </p>
              </a>
            </li>



            <li class="nav-item im2">

              <a class="nav-link  active" aria-current="page" href="/">  <p>
                <img class=" d-block mx-auto" src="/others.png" width="40px" height="35px">
                <span class="imt text-center d-block">
                  other Categories
                </span>
              </p>
              </a>
            </li>











          </ul>



        </div>
      </div>
    </nav>

    <br>
    <br>

    <nav class="navbar navbar-expand-lg navbar-light " style="background-color:cornsilk;border:1px solid gold">
      <div class="container-fluid">
        <a style="" class="  navbar-brand" href="#"><img src="/pictures/schedule.png"></a>
        <button style="border:none;background-color:cornsilk;" class="dropdown-toggle  text-danger" type="button" data-bs-toggle="collapse" data-bs-target="#pnavbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

        </button>
        <div class="collapse navbar-collapse" id="pnavbarNav">

          <!-- Row one -->

          <div class="row p-1   ">

            <div class="col-6">

              <a href="/channels/0">  <img src="/pictures/3.png" class="p-2 img-responsive" style="border:1px solid silver;width:100px;height:35px">
              </a>
            </div>


            <div class="col-6">

              <a href="/channels/1"> <img src="/pictures/18.png" class="p-1 img-responsive" style="border:1px solid silver;width:100px;height:35px"> </a>
            </div>





          </div>



          <!-- Row two -->

          <div class="row p-1   ">

            <div class="col-6">

              <a href="/channels/2">  <img src="/pictures/19.png" class="p-2 img-responsive" style="border:1px solid silver;width:100px;height:35px">
              </a>
            </div>


            <div class="col-6">

              <a href="/channels/3"> <img src="/pictures/20.png" class="p-1 img-responsive" style="border:1px solid silver;width:100px;height:35px"> </a>
            </div>





          </div>



          <!-- Row three -->

          <div class="row p-1   ">

            <div class="col-6">

              <a href="/channels/4">  <img src="/pictures/49.png" class="p-2 img-responsive" style="border:1px solid silver;width:100px;height:35px">
              </a>
            </div>


            <div class="col-6">

              <a href="/channels/5"> <img src="/pictures/50.png" class="p-1 img-responsive" style="border:1px solid silver;width:100px;height:35px"> </a>
            </div>

          </div>


          <!-- Row four -->

          <div class="row p-1   ">

            <div class="col-6">

              <a href="/channels/6">  <img src="/pictures/51.png" class="p-2 img-responsive" style="border:1px solid silver;width:100px;height:35px">
              </a>
            </div>


            <div class="col-6">

              <a href="/channels/7"> <img src="/pictures/55.png" class="p-1 img-responsive" style="border:1px solid silver;width:100px;height:35px"> </a>
            </div>

          </div>


          <!-- Row five -->

          <div class="row p-1   ">

            <div class="col-6">

              <a href="/channels/8">  <img src="/pictures/56.png" class="p-2 img-responsive" style="border:1px solid silver;width:100px;height:35px">
              </a>
            </div>


            <div class="col-6">

              <a href="/channels/9"> <img src="/pictures/1.png" class="p-1 img-responsive" style="border:1px solid silver;width:100px;height:35px"> </a>
            </div>

          </div>



          <!-- Row six-->

          <div class="row p-1   ">

            <div class="col-6">

              <a href="/channels/10">  <img src="/pictures/4.png" class="p-2 img-responsive" style="border:1px solid silver;width:100px;height:35px">
              </a>
            </div>


            <div class="col-6">

              <a href="/channels/11"> <img src="/pictures/5.png" class="p-1 img-responsive" style="border:1px solid silver;width:100px;height:35px"> </a>
            </div>

          </div>



          <!-- Row seven -->

          <div class="row p-1   ">

            <div class="col-6">

              <a href="/channels/12">  <img src="/pictures/6.png" class="p-2 img-responsive" style="border:1px solid silver;width:100px;height:35px">
              </a>
            </div>


            <div class="col-6">

              <a href="/channels/13"> <img src="/pictures/47.png" class="p-1 img-responsive" style="border:1px solid silver;width:100px;height:35px"> </a>
            </div>

          </div>



          <!-- Row eight -->

          <div class="row p-1   ">

            <div class="col-6">

              <a href="/channels/14">  <img src="/pictures/custom-channels.png" class="p-2 img-responsive" style="border:1px solid silver;width:100px;height:35px">
              </a>
            </div>


            <div class="col-6">

              <a href="/channels/15"> <img src="/pictures/48.png" class="p-1 img-responsive" style="border:1px solid silver;width:100px;height:35px"> </a>
            </div>

          </div>



          <!-- Row nine -->

          <div class="row p-1   ">

            <div class="col-6">

              <a href="/channels/16">  <img src="/pictures/7.png" class="p-2 img-responsive" style="border:1px solid silver;width:100px;height:35px">
              </a>
            </div>


            <div class="col-6">

              <a href="/channels/17"> <img src="/pictures/8.png" class="p-1 img-responsive" style="border:1px solid silver;width:100px;height:35px"> </a>
            </div>

          </div>


          <!-- Row ten -->

          <div class="row p-1   ">

            <div class="col-6">

              <a href="/channels/18">  <img src="/pictures/9.png" class="p-2 img-responsive" style="border:1px solid silver;width:100px;height:35px">
              </a>
            </div>


            <div class="col-6">

              <a href="/channels/19"> <img src="/pictures/10.png" class="p-1 img-responsive" style="border:1px solid silver;width:100px;height:35px"> </a>
            </div>

          </div>



          <!-- Row eleven -->

          <div class="row p-1   ">

            <div class="col-6">

              <a href="/channels/20">  <img src="/pictures/11.png" class="p-2 img-responsive" style="border:1px solid silver;width:100px;height:35px">
              </a>
            </div>


            <div class="col-6">

              <a href="/channels/21"> <img src="/pictures/12.png" class="p-1 img-responsive" style="border:1px solid silver;width:100px;height:35px"> </a>
            </div>

          </div>



          <!-- Row twelve -->

          <div class="row p-1   ">

            <div class="col-6">

              <a href="/channels/22">  <img src="/pictures/13.png" class="p-2 img-responsive" style="border:1px solid silver;width:100px;height:35px">
              </a>
            </div>


            <div class="col-6">

              <a href="/channels/23"> <img src="/pictures/54.png" class="p-1 img-responsive" style="border:1px solid silver;width:100px;height:35px"> </a>
            </div>

          </div>


          <!-- Row thirteen -->

          <div class="row p-1   ">

            <div class="col-6">

              <a href="/channels/24">  <img src="/pictures/14.png" class="p-2 img-responsive" style="border:1px solid silver;width:100px;height:35px">
              </a>
            </div>


            <div class="col-6">

              <a href="/channels/25"> <img src="/pictures/15.png" class="p-1 img-responsive" style="border:1px solid silver;width:100px;height:35px"> </a>
            </div>

          </div>



          <!-- Row fourteen -->

          <div class="row p-1   ">

            <div class="col-6">

              <a href="/channels/26">  <img src="/pictures/16.png" class="p-2 img-responsive" style="border:1px solid silver;width:100px;height:35px">
              </a>
            </div>


            <div class="col-6">

              <a href="/channels/27"> <img src="/pictures/17.png" class="p-1 img-responsive" style="border:1px solid silver;width:100px;height:35px"> </a>
            </div>

          </div>


          <!-- Row fifteen -->

          <div class="row p-1   ">

            <div class="col-6">

              <a href="/channels/28">  <img src="/pictures/53.png" class="p-2 img-responsive" style="border:1px solid silver;width:100px;height:35px">
              </a>
            </div>


            <div class="col-6">

              <a href="/channels/29"> <img src="/pictures/21.png" class="p-1 img-responsive" style="border:1px solid silver;width:100px;height:35px"> </a>
            </div>

          </div>


          <!-- Row sixteen -->

          <div class="row p-1   ">

            <div class="col-6">

              <a href="/channels/30">  <img src="/pictures/22.png" class="p-2 img-responsive" style="border:1px solid silver;width:100px;height:35px">
              </a>
            </div>


            <div class="col-6">

              <a href="/channels/31"> <img src="/pictures/23.png" class="p-1 img-responsive" style="border:1px solid silver;width:100px;height:35px"> </a>
            </div>

          </div>


          <!-- Row seventeen -->

          <div class="row p-1   ">

            <div class="col-6">

              <a href="/channels/32">  <img src="/pictures/25.png" class="p-2 img-responsive" style="border:1px solid silver;width:100px;height:35px">
              </a>
            </div>


            <div class="col-6">

              <a href="/channels/33"> <img src="/pictures/52.png" class="p-1 img-responsive" style="border:1px solid silver;width:100px;height:35px"> </a>
            </div>

          </div>



        </div>
      </div>
    </nav>
    <br>

    <br>
    <br>


    <div class="container" style="background-color:cornsilk">
      <div class="bg-dark d-3 mt-5 p-2 text-white w-100">
        <per> </per>
      </div>
      <br>

      <span class="bg-white p-1">  <per> </per> </span>
      <!--<iframe src="//stream.crichd.vip/update/skys2.php" width="100%" height="500px" marginheight="0" marginwidth="0" scrolling="no" frameborder="0" allowfullscreen  allow="encrypted-media"></iframe>   -->




    </div>










  </div>



  <%= html1.length %>
  <%= html1 %>
  <br>
  <br>
  <br>
  <br>
  <%= html2.length %>
  <%= html2 %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <%= html3.length %>
  <%= html3 %>




  <%for (g of html2) {
    %>

    <p>
      <%= g %>
    </p>
    <%
  } %>

  <%for (h of html3) {
    %>

    <p>
      <%= h %>
    </p>
    <%
  } %>






















  <script src="/javascripts/bootstrap.min.js"></script>


</body>
</html>