<!DOCTYPE html>
<html lang="en-US">
<head>
  <!-- Meta setup -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="">
  <meta name="decription" content="">

  <!-- Title -->
  <title>Welcome</title>
  
  <link rel="stylesheet" href="/stylesheets/all.min.css">

  <link rel='stylesheet' id='bootstrap-css' href='https://cssjsimg2.procdncache.com/files/style.css?ver=7.03' type='text/css' media='all' />
  <link rel='stylesheet' id='fontawesome-css' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css?ver=4.3.0' type='text/css' media='all' />
  <link rel="shortcut icon" href="https://cssjsimg2.procdncache.com/img/favicon.ico" />


  
  
  
  
  
  
  
  
  
  
  

  <!-- Fav Icon -->
  <link rel="icon" href="/favicon.ico" />

  <!-- Include Bootstrap -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css" />

  <!-- Main StyleSheet -->
  <link rel="stylesheet" href="/stylesheets/styless.css" />

  <!-- Responsive CSS -->
  <link rel="stylesheet" href="/stylesheets/responsive.css" />









</head>
<body>

  <!--[if lte IE 9]>
              <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
          <![endif]-->

  <!-- header-area start -->
  <header class="header-area">
    <div class="header-item">
      <a href="#"><img src="/logo.png" alt="" /></a>
    </div>
  </header>
  <br>
  <br>
  <!-- header-area end -->

  <!-- content-area start -->
  <div class="content-area" style="">
    <div class="categories-area">
      <div class="categories-item">
        <button type="button">test naytrix lol</button>
      <i class="bg-dark fas fa-bars" style="text-color:black"></i>  
      </div>
    </div>
    
    
    <div class="channel-area">
      <div class="channel-item">
        <ul>
          <li><a href="/"> Schedule </a></li>
          <li><a href="/specific/live-football-streaming"> Football</a></li>
          <li><a href="/specific/live-cricket-streaming-hd-watch-online-crichd-1"> Cricket</a></li>
          <li><a href="/specific/rugby-live-streaming"> Rugby</a></li>
          <li><a href="/specific/tennis-live-streaming"> Tennis  </a></li>
          <li><a href="/specific/moto-race-formula-1-live-streami">MotoGP/F1 </a></li>
          <li><a href="/specific/american-football-live-streami"> NFL/American Football </a></li>
          <li><a href="/specific/wwe-live-streaming">  WWE</a></li>
          <li><a href="/specific/boxing-live-streaming"> Boxing/UFC </a></li>
          <li><a href="/specific/basketball-live-streaming"> NBA/Basketball  </a></li>
          <li><a href="/specific/baseball-live-streaming"> MLB/Baseball</a></li>
          <li><a href="/specific/golf-live-streaming"> Golf   </a></li>
          <li><a href="/specific/hockey-live-streaming"> Hockey  </a></li>
          <li><a href="/specific/cycling-live-streaming"> Cycling</a></li>
          <li><a href="specific/volleyball-live-streaming"> VolleyBall </a></li>
          <li><a href="/specific/darts-live-streaming"> Darts </a></li>
          <li><a href="/specific/snooker-live-streaming"> Snooker</a></li>
        </ul>
      </div>
    </div>
    <div class="channel-area2">
      <div class="channel-item">
        <i class="fas fa-times"></i>
        <ul>
          <li><a href="/"> Schedule </a></li>
          <li><a href="/specific/live-football-streaming"> Football</a></li>
          <li> <a href="/specific/live-cricket-streaming-hd-watch-online-crichd-1"> Cricket</a></li>
          <li><a href="/specific/rugby-live-streaming"> Rugby</a></li>
          <li><a href="/specific/tennis-live-streaming"> Tennis  </a></li>
          <li><a href="/specific/moto-race-formula-1-live-streami">MotoGP/F1 </a></li>
          <li><a href="/specific/american-football-live-streami"> NFL/American Football </a></li>
          <li><a href="/specific/wwe-live-streaming">  WWE</a></li>
          <li><a href="/specific/boxing-live-streaming"> Boxing/UFC </a></li>
          <li><a href="/specific/basketball-live-streaming"> NBA/Basketball  </a></li>
          <li><a href="/specific/baseball-live-streaming"> MLB/Baseball</a></li>
          <li><a href="/specific/golf-live-streaming"> Golf   </a></li>
          <li><a href="/specific/hockey-live-streaming"> Hockey  </a></li>
          <li><a href="/specific/cycling-live-streaming"> Cycling</a></li>
          <li><a href="specific/volleyball-live-streaming"> VolleyBall </a></li>
          <li><a href="/specific/darts-live-streaming"> Darts </a></li>
          <li><a href="/specific/snooker-live-streaming">  Snooker</a></li>
        </ul>
      </div>
    </div>
   
          
          
          <table >
            <tr>
          <th>  </th>
          <th>  Title</th>
          <th>  Start </th>
          <th>   Link</th>
          <th>   Status</th>



            </tr>
            
            
            
            
        
             <% if (arrays.length != 0) {
          %>


          <% for (arr of arrays) {
            %>


            <tr>


              <td> <%-arr[0] %>    </td>

              
            <% mx = arr[2].substring(
    arr[2].indexOf('rel="tag"') + 1, 
    arr[2].lastIndexOf("</")
) %>     


         <center>     <td class="text-success"> <%= mx.replace('el="tag">',"") %> </td>   </center>
              <td>   <%- arr[1] %> </td>
<% var hrehf = arr[3].match(/href="([^"]*)/)[1] %>

<% constantWeb = 'https:\/\/www.crichd.com/' %>
              <td> <a href="/stream/<%= hrehf.replace(`${constantWeb}`,'') %>" class="text-danger text-decoration-none" >  Watch  </a></td>

             <% if(/class="liveg"/.test(arr[4])) { %>
             
     <%- arr[4] %>  
             
             <% } else { %>
          <td class="">    <%- arr[4] %>   </td>
          <% } %>






            </tr>
            <%
          } %>





          <%
        } %>





        
        
        
        
        
        
            
            
            
            
            <!--
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr> -->
            
            
            
            
            
          </table>
        </div>
      </div>
    </div>
    <div class="right-area">
      <div class="right-item">
        <textarea></textarea>
        <textarea></textarea>
      </div>
    </div>
  </div>
  <!-- content-area end -->




  <!-- Main jQuery -->
  <script src="/javascripts/jquery-3.4.1.min.js"></script>

  <script>

    jQuery(".categories-item i").click(function() {
      jQuery(".channel-area2").addClass("for-category");
    });

    jQuery(".channel-item i").click(function() {
      jQuery(".channel-area2").removeClass("for-category");
    });


  </script>

  <!-- Fontawesome Script -->
  <script src="https://kit.fontawesome.com/7749c9f08a.js"></script>



</body>
</html>