<!DOCTYPE html>
<html lang="en-US">
<head>
  <!-- Meta setup -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="">
  <meta name="decription" content="">

  <!-- Title -->
  <title>WatchSportStreams - <%- title %> </title>
  
  <link rel="stylesheet" href="/stylesheets/all.min.css">

  <link rel='stylesheet' id='bootstrap-css' href='https://cssjsimg2.procdncache.com/files/style.css?ver=7.03' type='text/css' media='all' />
  <link rel='stylesheet' id='fontawesome-css' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css?ver=4.3.0' type='text/css' media='all' />
  <link rel="shortcut icon" href="https://cssjsimg2.procdncache.com/img/favicon.ico" />


  
  
  
  
  
  
  
  
  
  
  

  <!-- Fav Icon -->
  <link rel="icon" href="images/favicon.ico" />

  <!-- Include Bootstrap -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css" />

  <!-- Main StyleSheet -->
  <link rel="stylesheet" href="/stylesheets/styless.css" />

  <!-- Responsive CSS -->
  <link rel="stylesheet" href="/stylesheets/responsive.css" />





  <style>
.header-area {
    padding: 32px 15px 31px;
    background: #97242f !important;
    text-align: center;
}
.header-item a img {
    max-width: 300px !important;
    margin-top: -30px !important;
}

a {
    color: #ff6d6d !important;
    text-decoration: none;
    background-color: transparent;
}


a:hover {
    color: #97242f !important;
}



  .timezone-item-inner2 table tr:nth-of-type(1) {
    height: 73px!important;
    background: #97242f!important;
    color: white!important;
}



.channel-item ul li a {
    font-weight: 700!important;
    font-size: 16px!important;
    text-align: center!important;
    letter-spacing: -0.03em!important;
    color: #FFFFFF!important;
    padding: 6.5px 0!important;
    background: #97242f!important;
    border-radius: 14px!important;
    display: block!important;
    margin-bottom: 9px!important;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}


.scheduleg {
    background: url(../img/play.png);
    background-position: 50%;
    display: none!important;
    background-repeat: no-repeat;
}





    .timezone-item-inner2 table tr {
    height: 63px!important;
    background: #3f3f3f!important;
    text-align: center!important;
    display: revert !important;
    align-items: center!important;
    justify-content: space-between!important;
    padding-left: 32px!important;
    padding-right: 27px!important;
}



.timezone-item-inner2 table tr td {
    font-weight: 700!important;
    font-size: 11px!important;
    letter-spacing: -0.03em!important;
    color: #FFFFFF!important;
    text-align: center;
}

    a.text-danger:hover, a.text-danger:focus {
    color: #ffffff !important;
}

.text-danger {
    color: #ffffff !important;
    background: red !important;
    padding: 5px !important;
    border-radius: 6px !important;
}



a.text-danger:hover, a.text-danger:focus {
    color: #ffffff !important;
    opacity: .6 !important;
}


@media (min-width: 992px)
.container {
    max-width: 915px!important;
}


@media (min-width: 1200px)
.container {
    max-width: 1230px!important;
    margin-left: -25px !important;
}


@media (min-width: 768px)
.container {
    max-width: 810px!important;
}

.timezone-item-inner2 table tr td a {
    text-decoration-line: none;
    background: red;
    border-radius: 6px;
    color: white !important;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    padding: 5px;
}



.container {
    width: 2000px !important;
    padding-right: 590px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}


  </style>



</head>
<body>

  <!-- header-area start -->
  <header class="header-area">
    <div class="header-item">
      <a href="/"><img src="/logo.png" alt="" /></a>
    </div>
  </header>
  <br>
  <br>
  <!-- header-area end -->

  <!-- content-area start -->
  <div class="content-area">
    <div class="categories-area">
      <div class="categories-item">
      </div>
    </div>
    
    
    <div class="channel-area">
      <div class="channel-item">
        <ul>
          <li><a href="/"> Home </a></li>
          <li><a href="/specific/live-football-streaming"> Football</a></li>
          <li><a href="/specific/live-cricket-streaming-hd-watch-online-crichd-1"> Cricket</a></li>
          <li><a href="/specific/rugby-live-streaming"> Rugby</a></li>
          <li><a href="/specific/tennis-live-streaming"> Tennis  </a></li>
          <li><a href="/specific/moto-race-formula-1-live-streaming">MotoGP/F1 </a></li>
          <li><a href="/specific/american-football-live-streaming"> NFL/American Football </a></li>
          <li><a href="/specific/wwe-live-streaming">  WWE</a></li>
          <li><a href="/specific/boxing-live-streaming"> Boxing/UFC </a></li>
          <li><a href="/specific/basketball-live-streaming"> NBA/Basketball  </a></li>
          <li><a href="/specific/baseball-live-streaming"> MLB/Baseball</a></li>
          <li><a href="/specific/golf-live-streaming"> Golf   </a></li>
          <li><a href="/specific/hockey-live-streaming"> Hockey  </a></li>
          <li><a href="/specific/cycling-live-streaming"> Cycling</a></li>
          <li><a href="/specific/darts-live-streaming"> Darts </a></li>
          <li><a href="/specific/snooker-live-streaming"> Snooker</a></li>
        </ul>
      </div>
    </div>
    <div class="channel-area2">
      <div class="channel-item">
        <i class="fas fa-times"></i>
        <ul>
          <li><a href="/"> Home </a></li>
          <li> <a href="/specific/live-cricket-streaming-hd-watch-online-crichd-1"> Cricket</a></li>
          <li><a href="/specific/live-football-streaming"> Football</a></li>
          <li><a href="/specific/rugby-live-streaming"> Rugby</a></li>
          <li><a href="/specific/tennis-live-streaming"> Tennis  </a></li>
          <li><a href="/specific/moto-race-formula-1-live-streami">Moto Race F1 </a></li>
          <li><a href="/specific/american-football-live-streami"> NFL/American Football </a></li>
          <li><a href="/specific/wwe-live-streaming">  WWE</a></li>
          <li><a href="/specific/boxing-live-streaming"> Boxing/UfC </a></li>
          <li><a href="/specific/basketball-live-streaming"> NBA/Basketball  </a></li>
          <li><a href="/specific/baseball-live-streaming"> MLB/Baseball</a></li>
          <li><a href="/specific/golf-live-streaming"> Golf   </a></li>
          <li><a href="/specific/hockey-live-streaming"> Hockey  </a></li>
          <li><a href="/specific/cycling-live-streaming"> Cycling</a></li>
          <li><a href="/specific/cycling-live-streaming">Cycling</a></li>
          <li><a href="specific/volleyball-live-streaming"> VolleyBall </a></li>
          <li><a href="/specific/darts-live-streaming"> Darts </a></li>
          <li><a href="/specific/snooker-live-streaming">  Snooker</a></li>
        </ul>
      </div>
    </div>

    <div class="timezone-area">
      <div class="timezone-item">
        <div class="timezone-item-inner">
          <div>
          </div>
              <!--
          <form action="#">
            <select>
              <option></option>
              <option>Select</option>
              <option>Select</option>
              <option>Select</option>
              <option>Select</option>
            </select>
          </form>
        </div>  -->
        <div class="timezone-item-inner2">


<% if(multipleSource.length != 0) { %>

<div class="container d-2">
  <br>
  <br>
  <div class="text-center text-white font-weight-bold "><%- title %> </div>
  
  <table class="mx-auto table m-2 table-responsive table-bordered table-striped ">
   <tr>
     <td class="text-center"> Sources</td>
     <td class="text-center"> Link</td>
   </tr> 
   
   <% for (s of multipleSource) { %>
   <tr>
     <td> <%= multipleSource.indexOf(s) %> </td>
     <% var hrehf = s.match(/href="([^"]*)/)[1] %>
     
     <% constantWeb =  ['https://hd.crichd.cx/','https://stream.crichd.ac/']
 %>
 
 <% if( hrehf.includes(constantWeb[0])) { %>
     
     <td> <a href="/watch/0/<%= hrehf.replace(constantWeb[0],'') %>"> Watch  </a> </td> <% } %>
     
     
      <% if( hrehf.includes(constantWeb[1])) { %>
     
     <td> <a href="/watch/1/<%= hrehf.replace(constantWeb[1],'') %>"> Watch  </a> </td> <% } %>
     
   </tr> <% }  %>
    
    
  </table>
  
  
  
</div> <% } else { %>


<br>
<br>
<div class="mx-auto">
  
  <h1> Please Check again in some minutes  </h1>
  
</div>

<% } %>









</div>













</div>
</div>
</div>



            
            
            <!--<tr>
          <th>  </th>
          <th>  Title</th>
          <th>  Start </th>
          <th>   Link</th>
          <th>   Status</th>



            </tr>
            
            
            
            
        

        
        
        
        
        
            
            
            
            
            <!--
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr>
            <tr>
              <td><img src="images/02.png" alt="" /></td>
              <td>Big Bash League BBL</td>
              <td>09-01-2022 05:00</td>
              <td><a href="#">Watch</a></td>
              <td><img src="images/03.png" alt="" /></td>
            </tr> -->
            
            
            
            
            
   <!--       </table>
        </div>
      </div>
    </div>
 <!--   <div class="right-area">
      <div class="right-item">
        <textarea></textarea>
        <textarea></textarea>
      </div>
    </div>
  </div>  -->
  <!-- content-area end -->




  <!-- Main jQuery -->
  <script src="/javascripts/jquery-3.4.1.min.js"></script>

  <script>

    jQuery(".categories-item i").click(function() {
      jQuery(".channel-area2").addClass("for-category");
    });

    jQuery(".channel-item i").click(function() {
      jQuery(".channel-area2").removeClass("for-category");
    });


  </script>

  <!-- Fontawesome Script -->
  <script src="https://kit.fontawesome.com/7749c9f08a.js"></script>



</body>
</html>